.home {
  //height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
}

#regular, #playoffs {
  width: 85%;
  height: 350px;
}
#playoffs {
  margin-top: 10px;
}